#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "New",							ID_FILE_NEW
        MENUITEM "Open...",						ID_FILE_OPEN
        MENUITEM "Close",						ID_FILE_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "Save",						ID_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "Exit",						ID_FILE_EXIT
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Undo",						ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Select More\tCtrl-M",			ID_EDIT_SELECT_MORE
    END
    POPUP "Model"
    BEGIN
        MENUITEM "Prepare Model",				ID_MODEL_PREPARE_MODEL
        MENUITEM "Calculate Boxes",				ID_MODEL_CALC_BOXES
        MENUITEM "Calculate Normals",			ID_MODEL_CALC_NORMAL
		MENUITEM SEPARATOR
        MENUITEM "Scale...",					ID_MODEL_SCALE
		MENUITEM SEPARATOR
        MENUITEM "Flip X",						ID_MODEL_FLIP_X
        MENUITEM "Flip Y",						ID_MODEL_FLIP_Y
        MENUITEM "Flip Z",						ID_MODEL_FLIP_Z
		MENUITEM SEPARATOR
        MENUITEM "Swap X/Z",					ID_MODEL_SWAP_XZ
        MENUITEM "Swap Y/Z",					ID_MODEL_SWAP_YZ
        MENUITEM "Center X/Z",					ID_MODEL_CENTER_XZ
        MENUITEM "Floor Y",						ID_MODEL_FLOOR_Y
		MENUITEM SEPARATOR
        MENUITEM "Add Hit Box",					ID_MODEL_ADD_HIT_BOX
    END
    POPUP "View"
    BEGIN
        MENUITEM "Front",						ID_VIEW_FRONT
        MENUITEM "Left",						ID_VIEW_LEFT
        MENUITEM "Right",						ID_VIEW_RIGHT
        MENUITEM "Back",						ID_VIEW_BACK
        MENUITEM "Top",							ID_VIEW_TOP
        MENUITEM "Bottom",						ID_VIEW_BOTTOM
    END
    POPUP "Mesh"
    BEGIN
        MENUITEM "Add Mesh",					ID_MESH_ADD
        MENUITEM "Duplicate Mesh",				ID_MESH_DUPLICATE
		MENUITEM SEPARATOR
        MENUITEM "Import OBJ...",				ID_MESH_IMPORT_OBJ
        MENUITEM "Replace OBJ...",				ID_MESH_REPLACE_OBJ
        MENUITEM "Add dim3 Mesh...",			ID_MESH_ADD_MESH
		MENUITEM SEPARATOR
        MENUITEM "Scale...",					ID_MESH_SCALE
		MENUITEM SEPARATOR
        MENUITEM "Flip X",						ID_MESH_FLIP_X
        MENUITEM "Flip Y",						ID_MESH_FLIP_Y
        MENUITEM "Flip Z",						ID_MESH_FLIP_Z
		MENUITEM SEPARATOR
        MENUITEM "Flip Texture Us",				ID_MESH_FLIP_U
        MENUITEM "Flip Texture Vs",				ID_MESH_FLIP_V
 		MENUITEM SEPARATOR
        MENUITEM "Swap X/Z",					ID_MESH_SWAP_XZ
        MENUITEM "Swap Y/Z",					ID_MESH_SWAP_YZ
        MENUITEM "Center X/Z",					ID_MESH_CENTER_XZ
        MENUITEM "Floor Y",						ID_MESH_FLOOR_Y
   END
    POPUP "Vertexes"
    BEGIN
        MENUITEM "Select All",					ID_VERTEX_SELECT_ALL
        MENUITEM "Select Not Attached",			ID_VERTEX_SELECT_NOT_ATTACHED
 		MENUITEM SEPARATOR
        MENUITEM "Invert Normals",				ID_VERTEX_INVERT_NORMAL
        MENUITEM "Set Normals",					ID_VERTEX_SET_NORMAL
 		MENUITEM SEPARATOR
        MENUITEM "Clear Bone Attachments",		ID_VERTEX_CLEAR_BONE
        MENUITEM "Auto Set Bone Attachments",	ID_VERTEX_AUTO_SET_BONE
 		MENUITEM SEPARATOR
        MENUITEM "Hide Selected",				ID_VERTEX_HIDE_SELECTED
        MENUITEM "Hide Non-Selected",			ID_VERTEX_HIDE_NON_SELECTED
        MENUITEM "Show All",					ID_VERTEX_SHOW_ALL
 		MENUITEM SEPARATOR
        MENUITEM "Delete Vertexes",				ID_VERTEX_DELETE
    END
    POPUP "Bones"
    BEGIN
        MENUITEM "Add Bone",					ID_BONE_ADD
        MENUITEM "Set Bone...",					ID_BONE_SET
 		MENUITEM SEPARATOR
        MENUITEM "Goto Parent Bone",			ID_BONE_GOTO_PARENT
    END
    POPUP "Poses"
    BEGIN
        MENUITEM "New Pose",					ID_POSE_NEW
        MENUITEM "Duplicate Pose",				ID_POSE_DUPLICATE
 		MENUITEM SEPARATOR
        MENUITEM "Clear Pose",					ID_POSE_CLEAR
    END
    POPUP "Animations"
    BEGIN
        MENUITEM "New Animation",				ID_ANIMATION_NEW
        MENUITEM "Duplicate Animation",			ID_ANIMATION_DUPLICATE
		MENUITEM SEPARATOR
        MENUITEM "Scale Animation Time...",		ID_ANIMATION_SCALE_TIME
 		MENUITEM SEPARATOR
        MENUITEM "Play Animation",				ID_ANIMATION_PLAY
        MENUITEM "Play Blended Animation...",	ID_ANIMATION_PLAY_BLENDED
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELERATOR ACCELERATORS 
BEGIN
	"M",			ID_EDIT_SELECT_MORE,		VIRTKEY, CONTROL, NOINVERT
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FILE_NEW DIALOGEX 100, 100, 333, 98
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Create New"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter a name for your new map.",IDC_STATIC,7,7,204,9
    RTEXT           "Name:",IDC_STATIC,17,25,32,9
    EDITTEXT        IDC_FILE_NEW_NAME,54,23,229,14,ES_AUTOHSCROLL
    LTEXT           "When a map is created, the map data file is saved in the Data/Maps directory and a default course script is saved in the Data/Scripts/Courses directory.",IDC_STATIC,7,44,319,21
    PUSHBUTTON      "Cancel",IDCANCEL,221,77,50,14
    DEFPUSHBUTTON   "New",ID_FILE_NEW_NEW,276,77,50,14,WS_GROUP
END

IDD_FILE_OPEN DIALOGEX 100, 100, 336, 234
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Choose a File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_FILE_OPEN_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | WS_BORDER | WS_TABSTOP,7,7,322,201
    PUSHBUTTON      "Cancel",IDCANCEL,7,213,50,14
    DEFPUSHBUTTON   "OK",IDOK,279,213,50,14
END

IDD_OBJ_IMPORT DIALOGEX 100, 100, 376, 102
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "OBJ Import"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Choose how to import the OBJ:",IDC_STATIC,7,7,111,9
    COMBOBOX        IDC_OBJ_IMPORT_AXIS,73,56,48,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scale on:",IDC_STATIC,30,58,38,8,0,WS_EX_RIGHT
    LTEXT           "axis to",IDC_STATIC,128,58,23,8
    LTEXT           "dim3 units",IDC_STATIC,221,58,43,8
    EDITTEXT        IDC_OBJ_IMPORT_UNITS,154,56,62,12,ES_AUTOHSCROLL
    LTEXT           "Import Type:",IDC_STATIC,19,20,49,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_OBJ_IMPORT_TYPE,73,19,296,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           """Import New Mesh(es)"" import type scaling:",IDC_STATIC,7,40,223,9
    DEFPUSHBUTTON   "Import",ID_OBJ_IMPORT_OK,319,80,50,14
    PUSHBUTTON      "Cancel",ID_OBJ_IMPORT_CANCEL,261,80,50,14
END

IDD_PROPERTY_LIST DIALOGEX 100, 100, 292, 286
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Pick a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LISTBOX         IDC_PROPERTY_LIST_LIST,7,7,278,254,LBS_NOINTEGRALHEIGHT | LBS_HASSTRINGS | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "None",ID_PROPERTY_LIST_NONE,7,265,50,14
    DEFPUSHBUTTON   "OK",ID_PROPERTY_LIST_OK,235,265,50,14,WS_GROUP
END

IDD_PROPERTY_STRING DIALOGEX 100, 100, 292, 59
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_PROPERTY_STRING_STRING,7,6,278,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_PROPERTY_STRING_DESCRIPTION,7,25,278,10
    DEFPUSHBUTTON   "OK",ID_PROPERTY_STRING_OK,235,38,50,14,WS_GROUP
END

IDD_IMPORT_FINISH DIALOGEX 0, 0, 252, 28
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Mesh Height"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter a height for the imported mesh:",IDC_STATIC,7,10,120,9
    EDITTEXT        IDC_IMPORT_FINISH_HEIGHT,130,8,56,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_IMPORT_FINISH_OK,195,7,50,14,WS_GROUP
END
