#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDR_MAINFRAME		ICON							"dim3Animator.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FILE_NEW DIALOGEX 100, 100, 333, 98
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Create New"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter a name for your new map.",IDC_STATIC,7,7,204,9
    RTEXT           "Name:",IDC_STATIC,17,25,32,9
    EDITTEXT        IDC_FILE_NEW_NAME,54,23,229,14,ES_AUTOHSCROLL
    LTEXT           "When a map is created, the map data file is saved in the Data/Maps directory and a default course script is saved in the Data/Scripts/Courses directory.",IDC_STATIC,7,44,319,21
    PUSHBUTTON      "Cancel",IDCANCEL,221,77,50,14
    DEFPUSHBUTTON   "New",ID_FILE_NEW_NEW,276,77,50,14,WS_GROUP
END

IDD_FILE_OPEN DIALOGEX 100, 100, 336, 234
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Choose a File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_FILE_OPEN_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | WS_BORDER | WS_TABSTOP,7,7,322,201
    PUSHBUTTON      "Cancel",IDCANCEL,7,213,50,14
    DEFPUSHBUTTON   "OK",IDOK,279,213,50,14
END

IDD_OBJ_IMPORT DIALOGEX 100, 100, 376, 102
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "OBJ Import"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Choose how to import the OBJ:",IDC_STATIC,7,7,111,9
    COMBOBOX        IDC_OBJ_IMPORT_AXIS,73,56,48,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scale on:",IDC_STATIC,30,58,38,8,0,WS_EX_RIGHT
    LTEXT           "axis to",IDC_STATIC,128,58,23,8
    LTEXT           "dim3 units",IDC_STATIC,221,58,43,8
    EDITTEXT        IDC_OBJ_IMPORT_UNITS,154,56,62,12,ES_AUTOHSCROLL
    LTEXT           "Import Type:",IDC_STATIC,19,20,49,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_OBJ_IMPORT_TYPE,73,19,296,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           """Import New Mesh(es)"" import type scaling:",IDC_STATIC,7,40,223,9
    DEFPUSHBUTTON   "Import",ID_OBJ_IMPORT_OK,319,80,50,14
    PUSHBUTTON      "Cancel",ID_OBJ_IMPORT_CANCEL,261,80,50,14
END

IDD_IMPORT_FINISH DIALOGEX 0, 0, 252, 28
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Mesh Height"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter a height for the imported mesh:",IDC_STATIC,7,10,120,9
    EDITTEXT        IDC_IMPORT_FINISH_HEIGHT,130,8,56,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_IMPORT_FINISH_OK,195,7,50,14,WS_GROUP
END

IDD_PICK_SCALE DIALOGEX 0, 0, 329, 86
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Pick Scale"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_PICK_SCALE_TYPE,53,7,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_PICK_SCALE_X,53,24,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PICK_SCALE_Y,53,40,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PICK_SCALE_Z,53,56,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_PICK_SCALE_CANCEL,217,65,50,14
    DEFPUSHBUTTON   "OK",ID_PICK_SCALE_OK,272,65,50,14
    LTEXT           "X:",-1,35,25,13,8,0,WS_EX_RIGHT
    LTEXT           "Y:",-1,34,41,14,8,0,WS_EX_RIGHT
    LTEXT           "Z:",-1,31,57,17,8,0,WS_EX_RIGHT
    LTEXT           "Scale Type:",-1,7,8,41,8,0,WS_EX_RIGHT
END

IDD_SET_VERTEX_BONE DIALOGEX 0, 0, 337, 86
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Set Vertex Bone"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_SET_VERTEX_BONE_MAJOR_BONE,61,7,269,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_SET_VERTEX_BONE_MINOR_BONE,61,24,269,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_SET_VERTEX_BONE_FACTOR,61,42,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_SET_VERTEX_BONE_CANCEL,223,65,50,14
    DEFPUSHBUTTON   "OK",ID_SET_VERTEX_BONE_OK,280,65,50,14
    LTEXT           "%",IDC_STATIC,130,45,41,8
    LTEXT           "Major Bone:",IDC_STATIC,7,8,49,8,0,WS_EX_RIGHT
    LTEXT           "Minor Bone:",IDC_STATIC,7,26,49,8,0,WS_EX_RIGHT
    LTEXT           "Bone Factor:",IDC_STATIC,7,43,49,8,0,WS_EX_RIGHT
END

IDD_SET_NORMAL DIALOGEX 0, 0, 229, 86
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Set Normal"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_SET_NORMAL_X,43,14,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_SET_NORMAL_Y,43,30,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_SET_NORMAL_Z,43,46,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_SET_NORMAL_CANCEL,117,65,50,14
    DEFPUSHBUTTON   "OK",ID_SET_NORMAL_OK,172,65,50,14
    LTEXT           "X:",-1,25,15,13,8,0,WS_EX_RIGHT
    LTEXT           "Y:",-1,24,31,14,8,0,WS_EX_RIGHT
    LTEXT           "Z:",-1,21,47,17,8,0,WS_EX_RIGHT
END

IDD_BLEND_ANIMATION DIALOGEX 0, 0, 329, 101
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Play Blended Animations"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_BLEND_ANIMATION_1,95,7,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_BLEND_ANIMATION_2,95,23,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_BLEND_ANIMATION_3,95,39,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_BLEND_ANIMATION_4,95,55,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Cancel",ID_BLEND_ANIMATION_CANCEL,217,80,50,14
    DEFPUSHBUTTON   "OK",ID_BLEND_ANIMATION_OK,272,80,50,14
    LTEXT           "Animation 1:",-1,10,8,80,8,0,WS_EX_RIGHT
    LTEXT           "Animation 2:",-1,10,24,80,8,0,WS_EX_RIGHT
    LTEXT           "Animation 3:",-1,10,41,80,8,0,WS_EX_RIGHT
    LTEXT           "Aniamtion 4:",-1,10,56,80,8,0,WS_EX_RIGHT
END

IDD_SCALE_ANIMATION DIALOGEX 100, 100, 250, 81
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Scale Animation Time"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_SCALE_ANIMTION_TIME,65,6,100,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_SCALE_ANIMATION_CANCEL,137,60,50,14
    DEFPUSHBUTTON   "OK",ID_SCALE_ANIMATION_OK,192,60,50,14
	LTEXT           "Milliseconds:",-1,10,8,50,8,0,WS_EX_RIGHT
    LTEXT           "Select a number of milliseconds (thousands of a second) for which you want the entire select animation to take place.",-1,10,31,240,16,0,WS_EX_LEFT
END

IDD_PROPERTY_STRING DIALOGEX 100, 100, 292, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_PROPERTY_STRING_STRING,7,6,278,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_PROPERTY_STRING_OK,235,22,50,14,WS_GROUP
END

IDD_PROPERTY_CHORD DIALOGEX 100, 100, 292, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_PROPERTY_CHORD_X,7,6,90,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROPERTY_CHORD_Y,100,6,90,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROPERTY_CHORD_Z,193,6,90,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_PROPERTY_CHORD_OK,235,22,50,14,WS_GROUP
END
