#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "New",							100
        MENUITEM "Open...",						101
        MENUITEM "Close",						102
        MENUITEM SEPARATOR
        MENUITEM "Save",						103
        MENUITEM SEPARATOR
        MENUITEM "Exit",						104
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Undo",						200
    END
    POPUP "Model"
    BEGIN
        MENUITEM "Prepare Model",				300
        MENUITEM "Calculate Boxes",				301
        MENUITEM "Calculate Normals",			302
		MENUITEM SEPARATOR
        MENUITEM "Scale...",					303
		MENUITEM SEPARATOR
        MENUITEM "Flip X",						304
        MENUITEM "Flip Y",						305
        MENUITEM "Flip Z",						306
		MENUITEM SEPARATOR
        MENUITEM "Swap X/Z",					307
        MENUITEM "Swap Y/Z",					308
        MENUITEM "Center X/Z",					309
        MENUITEM "Floor Y",						310
		MENUITEM SEPARATOR
        MENUITEM "Add Hit Box",					311
    END
    POPUP "View"
    BEGIN
        MENUITEM "Front",						400
        MENUITEM "Left",						401
        MENUITEM "Right",						402
        MENUITEM "Back",						403
        MENUITEM "Top",							404
        MENUITEM "Bottom",						405
    END
    POPUP "Mesh"
    BEGIN
        MENUITEM "Add Mesh",					500
        MENUITEM "Duplicate Mesh",				501
		MENUITEM SEPARATOR
        MENUITEM "Import OBJ...",				502
        MENUITEM "Replace OBJ...",				503
        MENUITEM "Add dim3 Mesh...",			504
		MENUITEM SEPARATOR
        MENUITEM "Scale...",					505
		MENUITEM SEPARATOR
        MENUITEM "Flip X",						506
        MENUITEM "Flip Y",						507
        MENUITEM "Flip Z",						508
		MENUITEM SEPARATOR
        MENUITEM "Flip Texture Us",				509
        MENUITEM "Flip Texture Vs",				510
 		MENUITEM SEPARATOR
        MENUITEM "Swap X/Z",					511
        MENUITEM "Swap Y/Z",					512
        MENUITEM "Center X/Z",					513
        MENUITEM "Floor Y",						514
   END
    POPUP "Vertexes"
    BEGIN
        MENUITEM "Select All",					600
        MENUITEM "Select Not Attached",			601
 		MENUITEM SEPARATOR
        MENUITEM "Invert Normals",				602
        MENUITEM "Set Normals",					603
 		MENUITEM SEPARATOR
        MENUITEM "Clear Bone Attachments",		604
        MENUITEM "Auto Set Bone Attachments",	605
 		MENUITEM SEPARATOR
        MENUITEM "Hide Selected",				606
        MENUITEM "Hide Non-Selected",			607
        MENUITEM "Show All",					608
 		MENUITEM SEPARATOR
        MENUITEM "Delete Vertexes",				609
    END
    POPUP "Bones"
    BEGIN
        MENUITEM "Add Bone",					700
        MENUITEM "Set Bone...",					701
 		MENUITEM SEPARATOR
        MENUITEM "Goto Parent Bone",			702
    END
    POPUP "Poses"
    BEGIN
        MENUITEM "New Pose",					800
        MENUITEM "Duplicate Pose",				801
 		MENUITEM SEPARATOR
        MENUITEM "Clear Pose",					802
    END
    POPUP "Animations"
    BEGIN
        MENUITEM "New Animation",				900
        MENUITEM "Duplicate Animation",			901
		MENUITEM SEPARATOR
        MENUITEM "Scale Animation Time...",		902
 		MENUITEM SEPARATOR
        MENUITEM "Play Animation",				903
        MENUITEM "Play Blended Animation...",	904
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_MAINFRAME ACCELERATORS 
BEGIN
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FILE_NEW DIALOGEX 100, 100, 333, 98
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Create New"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter a name for your new map.",IDC_STATIC,7,7,204,9
    RTEXT           "Name:",IDC_STATIC,17,25,32,9
    EDITTEXT        IDC_FILE_NEW_NAME,54,23,229,14,ES_AUTOHSCROLL
    LTEXT           "When a map is created, the map data file is saved in the Data/Maps directory and a default course script is saved in the Data/Scripts/Courses directory.",IDC_STATIC,7,44,319,21
    PUSHBUTTON      "Cancel",IDCANCEL,221,77,50,14
    DEFPUSHBUTTON   "New",ID_FILE_NEW_NEW,276,77,50,14,WS_GROUP
END

IDD_FILE_OPEN DIALOGEX 100, 100, 336, 234
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Choose a File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_FILE_OPEN_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | WS_BORDER | WS_TABSTOP,7,7,322,201
    PUSHBUTTON      "Cancel",IDCANCEL,7,213,50,14
    DEFPUSHBUTTON   "OK",IDOK,279,213,50,14
END

IDD_OBJ_IMPORT DIALOGEX 100, 100, 376, 102
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "OBJ Import"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Choose how to import the OBJ:",IDC_STATIC,7,7,111,9
    COMBOBOX        IDC_OBJ_IMPORT_AXIS,73,56,48,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scale on:",IDC_STATIC,30,58,38,8,0,WS_EX_RIGHT
    LTEXT           "axis to",IDC_STATIC,128,58,23,8
    LTEXT           "dim3 units",IDC_STATIC,221,58,43,8
    EDITTEXT        IDC_OBJ_IMPORT_UNITS,154,56,62,12,ES_AUTOHSCROLL
    LTEXT           "Import Type:",IDC_STATIC,19,20,49,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_OBJ_IMPORT_TYPE,73,19,296,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           """Import New Mesh(es)"" import type scaling:",IDC_STATIC,7,40,223,9
    DEFPUSHBUTTON   "Import",ID_OBJ_IMPORT_OK,319,80,50,14
    PUSHBUTTON      "Cancel",ID_OBJ_IMPORT_CANCEL,261,80,50,14
END

IDD_PROPERTY_LIST DIALOGEX 100, 100, 292, 286
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Pick a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LISTBOX         IDC_PROPERTY_LIST_LIST,7,7,278,254,LBS_NOINTEGRALHEIGHT | LBS_HASSTRINGS | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "None",ID_PROPERTY_LIST_NONE,7,265,50,14
    DEFPUSHBUTTON   "OK",ID_PROPERTY_LIST_OK,235,265,50,14,WS_GROUP
END

IDD_PROPERTY_STRING DIALOGEX 100, 100, 292, 59
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_PROPERTY_STRING_STRING,7,6,278,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_PROPERTY_STRING_DESCRIPTION,7,25,278,10
    DEFPUSHBUTTON   "OK",ID_PROPERTY_STRING_OK,235,38,50,14,WS_GROUP
END

IDD_IMPORT_FINISH DIALOGEX 0, 0, 252, 28
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Mesh Height"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter a height for the imported mesh:",IDC_STATIC,7,10,120,9
    EDITTEXT        IDC_IMPORT_FINISH_HEIGHT,130,8,56,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_IMPORT_FINISH_OK,195,7,50,14,WS_GROUP
END
