#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Save\tCtrl+S",							ID_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "Preferences",								ID_FILE_PREFERENCE
        MENUITEM SEPARATOR
        MENUITEM "Exit",									ID_FILE_EXIT
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Undo\tCtrl+Z",							ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Select More\tCtrl-M",						ID_EDIT_SELECT_MORE
    END
    POPUP "Model"
    BEGIN
        MENUITEM "Prepare Model\tCtrl+R",					ID_MODEL_PREPARE_MODEL
        MENUITEM "Calculate Boxes",							ID_MODEL_CALC_BOXES
        MENUITEM "Calculate Normals",						ID_MODEL_CALC_NORMAL
		MENUITEM SEPARATOR
        MENUITEM "Scale...",								ID_MODEL_SCALE
		MENUITEM SEPARATOR
        MENUITEM "Flip X",									ID_MODEL_FLIP_X
        MENUITEM "Flip Y",									ID_MODEL_FLIP_Y
        MENUITEM "Flip Z",									ID_MODEL_FLIP_Z
		MENUITEM SEPARATOR
        MENUITEM "Swap X/Z",								ID_MODEL_SWAP_XZ
        MENUITEM "Swap Y/Z",								ID_MODEL_SWAP_YZ
        MENUITEM "Center X/Z",								ID_MODEL_CENTER_XZ
        MENUITEM "Floor Y",									ID_MODEL_FLOOR_Y
		MENUITEM SEPARATOR
        MENUITEM "Add Hit Box",								ID_MODEL_ADD_HIT_BOX
    END
    POPUP "View"
    BEGIN
        MENUITEM "Front\tCtrl+1",							ID_VIEW_FRONT
        MENUITEM "Left\tCtrl+2",							ID_VIEW_LEFT
        MENUITEM "Right\tCtrl+3",							ID_VIEW_RIGHT
        MENUITEM "Back\tCtrl+4",							ID_VIEW_BACK
        MENUITEM "Top\tCtrl+5",								ID_VIEW_TOP
        MENUITEM "Bottom\tCtrl+6",							ID_VIEW_BOTTOM
    END
    POPUP "Mesh"
    BEGIN
        MENUITEM "Add Mesh",								ID_MESH_ADD
        MENUITEM "Duplicate Mesh",							ID_MESH_DUPLICATE
		MENUITEM SEPARATOR
        MENUITEM "Import OBJ...",							ID_MESH_IMPORT_OBJ
        MENUITEM "Replace OBJ...",							ID_MESH_REPLACE_OBJ
        MENUITEM "Add dim3 Mesh...",						ID_MESH_ADD_MESH
		MENUITEM SEPARATOR
        MENUITEM "Scale...\tCtrl+T",						ID_MESH_SCALE
		MENUITEM SEPARATOR
        MENUITEM "Flip X",									ID_MESH_FLIP_X
        MENUITEM "Flip Y",									ID_MESH_FLIP_Y
        MENUITEM "Flip Z",									ID_MESH_FLIP_Z
		MENUITEM SEPARATOR
        MENUITEM "Flip Texture Us",							ID_MESH_FLIP_U
        MENUITEM "Flip Texture Vs",							ID_MESH_FLIP_V
 		MENUITEM SEPARATOR
        MENUITEM "Swap X/Z",								ID_MESH_SWAP_XZ
        MENUITEM "Swap Y/Z",								ID_MESH_SWAP_YZ
        MENUITEM "Center X/Z",								ID_MESH_CENTER_XZ
        MENUITEM "Floor Y",									ID_MESH_FLOOR_Y
 		MENUITEM SEPARATOR
        MENUITEM "Tessellate",								ID_MESH_TESSELLATE
  END
    POPUP "Vertexes"
    BEGIN
        MENUITEM "Select All\tCtrl+A",						ID_VERTEX_SELECT_ALL
        MENUITEM "Select Not Attached\tCtrl+Shift+A",		ID_VERTEX_SELECT_NOT_ATTACHED
 		MENUITEM SEPARATOR
        MENUITEM "Invert Normals\tCtrl+I",					ID_VERTEX_INVERT_NORMAL
        MENUITEM "Set Normals...\tCtrl+Alt+I",				ID_VERTEX_SET_NORMAL
        MENUITEM "Set Normals Out",							ID_VERTEX_SET_NORMAL_OUT
        MENUITEM "Set Normals In",							ID_VERTEX_SET_NORMAL_IN
 		MENUITEM SEPARATOR
        MENUITEM "Clear Bone Attachments",					ID_VERTEX_CLEAR_BONE
        MENUITEM "Auto Set Bone Attachments",				ID_VERTEX_AUTO_SET_BONE
 		MENUITEM SEPARATOR
        MENUITEM "Hide Selected",							ID_VERTEX_HIDE_SELECTED
        MENUITEM "Hide Non-Selected",						ID_VERTEX_HIDE_NON_SELECTED
        MENUITEM "Show All",								ID_VERTEX_SHOW_ALL
 		MENUITEM SEPARATOR
		MENUITEM "Collapse Selected Vertexes",				ID_VERTEX_COLLAPSE_SELECTED
		MENUITEM "Collapse Similar Vertexes",				ID_VERTEX_COLLAPSE_SIMILAR
 		MENUITEM SEPARATOR
        MENUITEM "Delete Vertexes",							ID_VERTEX_DELETE
        MENUITEM "Delete Polygons",							ID_VERTEX_DELETE_POLYGON
 		MENUITEM SEPARATOR
        MENUITEM "Make Quad",								ID_VERTEX_MAKE_QUAD
        MENUITEM "Tessellate Polygon",						ID_VERTEX_TESSELLATE_POLYGON
    END
    POPUP "Bones"
    BEGIN
        MENUITEM "Add Bone\tCtrl+B",						ID_BONE_ADD
        MENUITEM "Set Bone...",								ID_BONE_SET
 		MENUITEM SEPARATOR
        MENUITEM "Goto Parent Bone\tCtrl+Alt+B",			ID_BONE_GOTO_PARENT
    END
    POPUP "Poses"
    BEGIN
        MENUITEM "New Pose\tCtrl+E",						ID_POSE_NEW
        MENUITEM "Duplicate Pose\tCtrl+D",					ID_POSE_DUPLICATE
 		MENUITEM SEPARATOR
        MENUITEM "Clear Pose",								ID_POSE_CLEAR
    END
    POPUP "Animations"
    BEGIN
        MENUITEM "New Animation\tCtrl+G",					ID_ANIMATION_NEW
        MENUITEM "Duplicate Animation",						ID_ANIMATION_DUPLICATE
		MENUITEM SEPARATOR
        MENUITEM "Scale Animation Time...",					ID_ANIMATION_SCALE_TIME
 		MENUITEM SEPARATOR
        MENUITEM "Play Animation\tCtrl+P",					ID_ANIMATION_PLAY
        MENUITEM "Play Blended Animation...\tCtrl+Shift+P",	ID_ANIMATION_PLAY_BLENDED
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELERATOR ACCELERATORS 
BEGIN

    "S",			ID_FILE_SAVE,					VIRTKEY, CONTROL, NOINVERT
    
	"Z",			ID_EDIT_UNDO,					VIRTKEY, CONTROL, NOINVERT
	"M",			ID_EDIT_SELECT_MORE,			VIRTKEY, CONTROL, NOINVERT
    
	"R",			ID_MODEL_PREPARE_MODEL,			VIRTKEY, CONTROL, NOINVERT

    "1",			ID_VIEW_FRONT,					VIRTKEY, CONTROL, NOINVERT
    "2",			ID_VIEW_LEFT,					VIRTKEY, CONTROL, NOINVERT
	"3",			ID_VIEW_RIGHT,					VIRTKEY, CONTROL, NOINVERT
    "4",			ID_VIEW_BACK,					VIRTKEY, CONTROL, NOINVERT
    "5",			ID_VIEW_TOP,					VIRTKEY, CONTROL, NOINVERT
    "6",			ID_VIEW_BOTTOM,					VIRTKEY, CONTROL, NOINVERT
    
	"T",			ID_MESH_SCALE,					VIRTKEY, CONTROL, NOINVERT
    
	"A",			ID_VERTEX_SELECT_ALL,			VIRTKEY, CONTROL, NOINVERT
	"A",			ID_VERTEX_SELECT_NOT_ATTACHED,	VIRTKEY, SHIFT, CONTROL, NOINVERT
 	"I",			ID_VERTEX_INVERT_NORMAL,		VIRTKEY, CONTROL, NOINVERT
    "I",			ID_VERTEX_SET_NORMAL,			VIRTKEY, CONTROL, ALT, NOINVERT
    
	"B",			ID_BONE_ADD,					VIRTKEY, CONTROL, NOINVERT
	"B",			ID_BONE_GOTO_PARENT,			VIRTKEY, CONTROL, ALT, NOINVERT

	"E",			ID_POSE_NEW,					VIRTKEY, CONTROL, NOINVERT
    "D",			ID_POSE_DUPLICATE,				VIRTKEY, CONTROL, NOINVERT

	"G",			ID_ANIMATION_NEW,				VIRTKEY, CONTROL, NOINVERT
    "P",			ID_ANIMATION_PLAY,				VIRTKEY, CONTROL, NOINVERT
    "P",			ID_ANIMATION_PLAY_BLENDED,		VIRTKEY, SHIFT, CONTROL, NOINVERT

END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDR_MAINFRAME		ICON							"dim3Animator.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FILE_NEW DIALOGEX 100, 100, 333, 98
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Create New"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter a name for your new map.",IDC_STATIC,7,7,204,9
    RTEXT           "Name:",IDC_STATIC,17,25,32,9
    EDITTEXT        IDC_FILE_NEW_NAME,54,23,229,14,ES_AUTOHSCROLL
    LTEXT           "When a map is created, the map data file is saved in the Data/Maps directory and a default course script is saved in the Data/Scripts/Courses directory.",IDC_STATIC,7,44,319,21
    PUSHBUTTON      "Cancel",IDCANCEL,221,77,50,14
    DEFPUSHBUTTON   "New",ID_FILE_NEW_NEW,276,77,50,14,WS_GROUP
END

IDD_FILE_OPEN DIALOGEX 100, 100, 336, 234
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Choose a File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_FILE_OPEN_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | WS_BORDER | WS_TABSTOP,7,7,322,201
    PUSHBUTTON      "Cancel",IDCANCEL,7,213,50,14
    DEFPUSHBUTTON   "OK",IDOK,279,213,50,14
END

IDD_OBJ_IMPORT DIALOGEX 100, 100, 376, 102
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "OBJ Import"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Choose how to import the OBJ:",IDC_STATIC,7,7,111,9
    COMBOBOX        IDC_OBJ_IMPORT_AXIS,73,56,48,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scale on:",IDC_STATIC,30,58,38,8,0,WS_EX_RIGHT
    LTEXT           "axis to",IDC_STATIC,128,58,23,8
    LTEXT           "dim3 units",IDC_STATIC,221,58,43,8
    EDITTEXT        IDC_OBJ_IMPORT_UNITS,154,56,62,12,ES_AUTOHSCROLL
    LTEXT           "Import Type:",IDC_STATIC,19,20,49,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_OBJ_IMPORT_TYPE,73,19,296,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           """Import New Mesh(es)"" import type scaling:",IDC_STATIC,7,40,223,9
    DEFPUSHBUTTON   "Import",ID_OBJ_IMPORT_OK,319,80,50,14
    PUSHBUTTON      "Cancel",ID_OBJ_IMPORT_CANCEL,261,80,50,14
END

IDD_IMPORT_FINISH DIALOGEX 0, 0, 252, 28
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Mesh Height"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Enter a height for the imported mesh:",IDC_STATIC,7,10,120,9
    EDITTEXT        IDC_IMPORT_FINISH_HEIGHT,130,8,56,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_IMPORT_FINISH_OK,195,7,50,14,WS_GROUP
END

IDD_PICK_SCALE DIALOGEX 0, 0, 329, 86
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Pick Scale"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_PICK_SCALE_TYPE,53,7,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_PICK_SCALE_X,53,24,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PICK_SCALE_Y,53,40,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PICK_SCALE_Z,53,56,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_PICK_SCALE_CANCEL,217,65,50,14
    DEFPUSHBUTTON   "OK",ID_PICK_SCALE_OK,272,65,50,14
    LTEXT           "X:",-1,35,25,13,8,0,WS_EX_RIGHT
    LTEXT           "Y:",-1,34,41,14,8,0,WS_EX_RIGHT
    LTEXT           "Z:",-1,31,57,17,8,0,WS_EX_RIGHT
    LTEXT           "Scale Type:",-1,7,8,41,8,0,WS_EX_RIGHT
END

IDD_SET_VERTEX_BONE DIALOGEX 0, 0, 337, 86
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Set Vertex Bone"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_SET_VERTEX_BONE_MAJOR_BONE,61,7,269,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_SET_VERTEX_BONE_MINOR_BONE,61,24,269,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_SET_VERTEX_BONE_FACTOR,61,42,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_SET_VERTEX_BONE_CANCEL,223,65,50,14
    DEFPUSHBUTTON   "OK",ID_SET_VERTEX_BONE_OK,280,65,50,14
    LTEXT           "%",IDC_STATIC,130,45,41,8
    LTEXT           "Major Bone:",IDC_STATIC,7,8,49,8,0,WS_EX_RIGHT
    LTEXT           "Minor Bone:",IDC_STATIC,7,26,49,8,0,WS_EX_RIGHT
    LTEXT           "Bone Factor:",IDC_STATIC,7,43,49,8,0,WS_EX_RIGHT
END

IDD_SET_NORMAL DIALOGEX 0, 0, 229, 86
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Set Normal"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_SET_NORMAL_X,43,14,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_SET_NORMAL_Y,43,30,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_SET_NORMAL_Z,43,46,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_SET_NORMAL_CANCEL,117,65,50,14
    DEFPUSHBUTTON   "OK",ID_SET_NORMAL_OK,172,65,50,14
    LTEXT           "X:",-1,25,15,13,8,0,WS_EX_RIGHT
    LTEXT           "Y:",-1,24,31,14,8,0,WS_EX_RIGHT
    LTEXT           "Z:",-1,21,47,17,8,0,WS_EX_RIGHT
END

IDD_BLEND_ANIMATION DIALOGEX 0, 0, 329, 101
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Play Blended Animations"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_BLEND_ANIMATION_1,95,7,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_BLEND_ANIMATION_2,95,23,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_BLEND_ANIMATION_3,95,39,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_BLEND_ANIMATION_4,95,55,200,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Cancel",ID_BLEND_ANIMATION_CANCEL,217,80,50,14
    DEFPUSHBUTTON   "OK",ID_BLEND_ANIMATION_OK,272,80,50,14
    LTEXT           "Animation 1:",-1,10,8,80,8,0,WS_EX_RIGHT
    LTEXT           "Animation 2:",-1,10,24,80,8,0,WS_EX_RIGHT
    LTEXT           "Animation 3:",-1,10,41,80,8,0,WS_EX_RIGHT
    LTEXT           "Aniamtion 4:",-1,10,56,80,8,0,WS_EX_RIGHT
END

IDD_SCALE_ANIMATION DIALOGEX 100, 100, 250, 81
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Scale Animation Time"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_SCALE_ANIMTION_TIME,65,6,100,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_SCALE_ANIMATION_CANCEL,137,60,50,14
    DEFPUSHBUTTON   "OK",ID_SCALE_ANIMATION_OK,192,60,50,14
	LTEXT           "Milliseconds:",-1,10,8,50,8,0,WS_EX_RIGHT
    LTEXT           "Select a number of milliseconds (thousands of a second) for which you want the entire select animation to take place.",-1,10,31,240,16,0,WS_EX_LEFT
END

IDD_PROPERTY_STRING DIALOGEX 100, 100, 292, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_PROPERTY_STRING_STRING,7,6,278,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_PROPERTY_STRING_OK,235,22,50,14,WS_GROUP
END

IDD_PROPERTY_CHORD DIALOGEX 100, 100, 292, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_PROPERTY_CHORD_X,7,6,90,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROPERTY_CHORD_Y,100,6,90,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROPERTY_CHORD_Z,193,6,90,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_PROPERTY_CHORD_OK,235,22,50,14,WS_GROUP
END
