#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "New",							100
        MENUITEM "Open...",						101
        MENUITEM "Close",						102
        MENUITEM SEPARATOR
        MENUITEM "Save",						103
        MENUITEM SEPARATOR
        MENUITEM "Auto Generate Map...",		104
        MENUITEM SEPARATOR
        MENUITEM "Exit",						105
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Undo",						200
		MENUITEM SEPARATOR
        MENUITEM "Delete",						201
        MENUITEM "Duplicate",					202
		MENUITEM SEPARATOR
        MENUITEM "Select More",					203
    END
    POPUP "View"
    BEGIN
        MENUITEM "Front",						300
        MENUITEM "Left",						301
        MENUITEM "Right",						302
        MENUITEM "Back",						303
        MENUITEM "Top",							304
        MENUITEM "Bottom",						305
		MENUITEM SEPARATOR
        MENUITEM "Perspecitve",					306
        MENUITEM "Ortho",						307
 		MENUITEM SEPARATOR
        MENUITEM "Normal UV Layer",				308
        MENUITEM "Light Map UV Layer",			309
		MENUITEM SEPARATOR
        MENUITEM "Goto Selection",				310
        MENUITEM "Goto Map Center",				311
		MENUITEM SEPARATOR
        MENUITEM "Clipping",					312
		MENUITEM SEPARATOR
        MENUITEM "Liquids",						313
        MENUITEM "Spots and Scenery",			314
        MENUITEM "Lights, Sounds and Particles",315
        MENUITEM "Nodes",						316
		MENUITEM SEPARATOR
        MENUITEM "Split Panel Horizontal",		317
        MENUITEM "Split Panel Vertical",		318
        MENUITEM "Remove Panel",				319
    END
    POPUP "Map"
    BEGIN
        MENUITEM "Settings...",					400
		MENUITEM SEPARATOR
        MENUITEM "Add Cinema...",				401
        MENUITEM "Add Group...",				402
        MENUITEM "Add Movement...",				403
		MENUITEM SEPARATOR
        MENUITEM "Raise Y",						404
        MENUITEM "Lower Y",						405
        MENUITEM "Center",						406
		MENUITEM SEPARATOR
        MENUITEM "Reset UVs",					407
        MENUITEM "Optimize Meshes...",			408
		MENUITEM SEPARATOR
        MENUITEM "Recalc Normals",				409
		MENUITEM SEPARATOR
        MENUITEM "Clear Light Maps",			410
        MENUITEM "Build Light Maps...",			411
		MENUITEM SEPARATOR
        MENUITEM "Run...",						412
    END
    POPUP "Mesh"
    BEGIN
        MENUITEM "Combine",						500
        MENUITEM "Split",						501
        MENUITEM "Tesselate",					502
		MENUITEM SEPARATOR
        MENUITEM "Resize...",					503
        MENUITEM "Reposition...",				504
        MENUITEM "Skew...",						505
		MENUITEM SEPARATOR
        MENUITEM "Flip X",						506
        MENUITEM "Flip Y",						507
        MENUITEM "Flip Z",						508
		MENUITEM SEPARATOR
        MENUITEM "Rotate X",					509
        MENUITEM "Rotate Y",					510
        MENUITEM "Rotate Z",					511
        MENUITEM "Free Rotate...",				512
		MENUITEM SEPARATOR
        MENUITEM "Raise Y",						513
        MENUITEM "Lower Y",						514
		MENUITEM SEPARATOR
        MENUITEM "Select All Polygons",			515
 		MENUITEM SEPARATOR
        MENUITEM "Snap Mesh To Grid",			516
        MENUITEM "Snap Mesh To Closest Vertex",	517
 		MENUITEM SEPARATOR
        MENUITEM "Reset Mesh UVs",				518
        MENUITEM "Whole Mesh UVs",				519
        MENUITEM "Single Stamp Mesh UVs",		520
		MENUITEM SEPARATOR
        MENUITEM "Recalc Normals",				521
        MENUITEM "Invert Normals",				522
   END
    POPUP "Polygon"
    BEGIN
        MENUITEM "Punch Middle Hole",			600
		MENUITEM SEPARATOR
        MENUITEM "Snap Polygon To Grid",		601
 		MENUITEM SEPARATOR
        MENUITEM "Rotate Polygon UVs",			602
        MENUITEM "Flip Us",						603
        MENUITEM "Flip Vs",						604
 		MENUITEM SEPARATOR
        MENUITEM "Invert Normals",				605
 		MENUITEM SEPARATOR
        MENUITEM "Reset Polygon UVs",			606
        MENUITEM "Whole Polygon UVs",			607
        MENUITEM "Single Stamp Polygon UVs",	608
    END
    POPUP "Vertex"
    BEGIN
        MENUITEM "Snap All Vertexes To Grid",	700
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_MAINFRAME ACCELERATORS 
BEGIN
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FILE_OPEN DIALOGEX 100, 100, 336, 234
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,279,213,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,7,213,50,14
    CONTROL         "",IDC_FILE_OPEN_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | WS_BORDER | WS_TABSTOP,7,7,322,201
END

IDD_MESH_SCALE DIALOGEX 100, 100, 266, 94
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
CAPTION "Mesh Scale"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Scale",ID_MESH_SCALE_SCALE,209,73,50,14
    PUSHBUTTON      "Replace",ID_MESH_SCALE_REPLACE,7,73,50,14
    LTEXT           "Click Scale to import this OBJ to the specific dim3 unit size on the specific axis.  Click Replace to replace the currently selected mesh with this OBJ using the scale the original mesh was loaded in on.",
                    IDC_STATIC,7,7,252,27
    COMBOBOX        IDC_MESH_SCALE_AXIS,42,45,48,130,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scale",IDC_STATIC,19,47,21,8
    LTEXT           "to",IDC_STATIC,97,47,12,8
    LTEXT           "dim3 Units",IDC_STATIC,180,47,43,8
    EDITTEXT        IDC_MESH_SCALE_UNITS,110,45,62,12,ES_AUTOHSCROLL
END
