#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Save\tCtrl+S",						ID_FILE_SAVE
        MENUITEM SEPARATOR
		MENUITEM "Preferences"							ID_FILE_PREFERENCE
        MENUITEM SEPARATOR
        MENUITEM "Exit",								ID_FILE_EXIT
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Undo\tCtrl+Z",						ID_FILE_UNDO
		MENUITEM SEPARATOR
        MENUITEM "Delete",								ID_FILE_DELETE
        MENUITEM "Duplicate\tCtrl+D",					ID_FILE_DUPLICATE
		MENUITEM SEPARATOR
        MENUITEM "Select More\tCtrl+M",					ID_EDIT_SELECT_MORE
    END
    POPUP "View"
    BEGIN
        MENUITEM "Front\tCtrl+1",						ID_VIEW_FRONT
        MENUITEM "Left\tCtrl+2",						ID_VIEW_LEFT
        MENUITEM "Right\tCtrl+3",						ID_VIEW_RIGHT
        MENUITEM "Back\tCtrl+4",						ID_VIEW_BACK
        MENUITEM "Top\tCtrl+5",							ID_VIEW_TOP
        MENUITEM "Bottom\tCtrl+6",						ID_VIEW_BOTTOM
		MENUITEM SEPARATOR
        MENUITEM "Perspecitve\tCtrl+9",					ID_VIEW_PERSPECTIVE
        MENUITEM "Ortho\tCtrl+0",						ID_VIEW_ORTHO
 		MENUITEM SEPARATOR
        MENUITEM "Normal UV Layer\tCtrl+Alt+1",			ID_VIEW_NORMAL_LAYER
        MENUITEM "Light Map UV Layer\tCtrl+Alt+2",		ID_VIEW_LIGHT_MAP_LAYER
		MENUITEM SEPARATOR
        MENUITEM "Goto Selection\tCtrl+G",				ID_VIEW_GOTO_SELECTION
        MENUITEM "Goto Map Center\tCtrl+Shift+G",		ID_VIEW_GOTO_MAP_CENTER
		MENUITEM SEPARATOR
        MENUITEM "Clipping\tCtrl+Alt+3",				ID_VIEW_CLIPPING
		MENUITEM SEPARATOR
        MENUITEM "Liquids\tCtrl+Shift+1",				ID_VIEW_LIQUIDS
        MENUITEM "Spots, Scenery\tCtrl+Shift+2",		ID_VIEW_SPOT_SCENERY
        MENUITEM "Lights, Sounds, Particles\tCtrl+Shift+3",		ID_VIEW_LIGHT_SOUND_PARTICLE
        MENUITEM "Nodes",								ID_VIEW_NODES
		MENUITEM "Movements",							ID_VIEW_MOVEMENTS
		MENUITEM SEPARATOR
        MENUITEM "Split Panel Horizontal",				ID_VIEW_SPLIT_HORIZONTAL
        MENUITEM "Split Panel Vertical",				ID_VIEW_SPLIT_VERTICAL
        MENUITEM "Remove Panel",						ID_VIEW_REMOVE_PANEL
    END
    POPUP "Map"
    BEGIN
        MENUITEM "Raise Y\tCtrl+Alt+Shift+Y",			ID_MAP_RAISE_Y
        MENUITEM "Lower Y\tCtrl+Alt+Y",					ID_MAP_LOWER_Y
        MENUITEM "Center",								ID_MAP_CENTER
		MENUITEM SEPARATOR
        MENUITEM "Reset UVs",							ID_MAP_RESET_UV
        MENUITEM "Recalc Normals",						ID_MAP_RECALC_NORMAL
        MENUITEM "Sort Mesh Polygons",					ID_MAP_SORT_MESH_POLYS
		MENUITEM SEPARATOR
        MENUITEM "Clear Light Maps",					ID_MAP_CLEAR_LIGHT_MAP
        MENUITEM "Build Light Maps...",					ID_MAP_BUILD_LIGHT_MAP
		MENUITEM SEPARATOR
        MENUITEM "Build Liquid Reflection Maps...",		ID_MAP_BUILD_LIQUID_REFLECTION_MAP
		MENUITEM SEPARATOR
        MENUITEM "Run...\tCtrl+R",						ID_MAP_RUN
    END
    POPUP "Mesh"
    BEGIN
        MENUITEM "Combine\tCtrl+P",						ID_MESH_COMBINE
		MENUITEM "Split\tCtrl+Shift+P",					ID_MESH_SPLIT
        MENUITEM "Tesselate",							ID_MESH_TESSELATE
		MENUITEM SEPARATOR
        MENUITEM "Resize...",							ID_MESH_RESIZE
        MENUITEM "Reposition...",						ID_MESH_REPOSITION
		MENUITEM "Resize Current Texture...",			ID_MESH_RESIZE_TEXTURE
		MENUITEM SEPARATOR
        MENUITEM "Flip X\tCtrl+H",						ID_MESH_FLIP_X
        MENUITEM "Flip Y\tCtrl+U",						ID_MESH_FLIP_Y
        MENUITEM "Flip Z\tCtrl+V",						ID_MESH_FLIP_Z
		MENUITEM SEPARATOR
        MENUITEM "Rotate X",							ID_MESH_ROTATE_X
        MENUITEM "Rotate Y\tCtrl+Alt+R",				ID_MESH_ROTATE_Y
        MENUITEM "Rotate Z",							ID_MESH_ROTATE_Z
        MENUITEM "Free Rotate...\tCtrl+Shift+R",		ID_MESH_FREE_ROTATE
		MENUITEM SEPARATOR
        MENUITEM "Raise Y\tCtrl+Shift+Y",				ID_MESH_RAISE_Y
        MENUITEM "Lower Y\tCtrl+Y",						ID_MESH_LOWER_Y
		MENUITEM SEPARATOR
        MENUITEM "Select All Polygons",					ID_MESH_SELECT_ALL_POLYGONS
 		MENUITEM SEPARATOR
        MENUITEM "Snap Mesh To Grid",					ID_MESH_SNAP_TO_GRID
        MENUITEM "Snap Mesh To Closest Vertex",			ID_MESH_SNAP_TO_CLOSEST_VERTEX
 		MENUITEM SEPARATOR
        MENUITEM "Reset Mesh UVs",						ID_MESH_RESET_UV
        MENUITEM "Whole Mesh UVs",						ID_MESH_WHOLE_UV
        MENUITEM "Single Stamp Mesh UVs",				ID_MESH_SINGLE_STAMP_UV
		MENUITEM SEPARATOR
        MENUITEM "Recalc Normals",						ID_MESH_RECALC_NORMAL
        MENUITEM "Invert Normals\tCtrl+Alt+I",			ID_MESH_INVERT_NORMAL
        MENUITEM "Set Normals Out",						ID_MESH_SET_NORMAL_OUT
        MENUITEM "Set Normals In",						ID_MESH_SET_NORMAL_IN
   END
    POPUP "Polygon"
    BEGIN
        MENUITEM "Punch Middle Hole",					ID_POLYGON_PUNCH_HOLE
        MENUITEM "Tesselate",							ID_POLYGON_TESSELATE
		MENUITEM SEPARATOR
        MENUITEM "Snap Polygon To Grid",				ID_POLYGON_SNAP_TO_GRID
 		MENUITEM SEPARATOR
        MENUITEM "Rotate Polygon UVs\tCtrl+T",			ID_POLYGON_ROTATE_UV
        MENUITEM "Flip Us",								ID_POLYGON_FLIP_U
        MENUITEM "Flip Vs",								ID_POLYGON_FLIP_V
 		MENUITEM SEPARATOR
        MENUITEM "Recalc Normals\tCtrl+Shift+N",		ID_POLYGON_RECALC_NORMAL
        MENUITEM "Invert Normals\tCtrl+I",				ID_POLYGON_INVERT_NORMAL
 		MENUITEM SEPARATOR
        MENUITEM "Reset Polygon UVs",					ID_POLYGON_RESET_UV
        MENUITEM "Whole Polygon UVs",					ID_POLYGON_WHILE_UV
        MENUITEM "Single Stamp Polygon UVs",			ID_POLYGON_SINGLE_STAMP_UV
    END
    POPUP "Vertex"
    BEGIN
        MENUITEM "Snap All Vertexes To Grid",			ID_VERTEX_SNAP_TO_GRID
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELERATOR ACCELERATORS 
BEGIN

    "S",			ID_FILE_SAVE,				VIRTKEY, CONTROL, NOINVERT
    
	"Z",			ID_FILE_UNDO,				VIRTKEY, CONTROL, NOINVERT
	"D",			ID_FILE_DUPLICATE,			VIRTKEY, CONTROL, NOINVERT
	"M",			ID_EDIT_SELECT_MORE,		VIRTKEY, CONTROL, NOINVERT

    "1",			ID_VIEW_FRONT,				VIRTKEY, CONTROL, NOINVERT
    "2",			ID_VIEW_LEFT,				VIRTKEY, CONTROL, NOINVERT
	"3",			ID_VIEW_RIGHT,				VIRTKEY, CONTROL, NOINVERT
    "4",			ID_VIEW_BACK,				VIRTKEY, CONTROL, NOINVERT
    "5",			ID_VIEW_TOP,				VIRTKEY, CONTROL, NOINVERT
    "6",			ID_VIEW_BOTTOM,				VIRTKEY, CONTROL, NOINVERT
    "9",			ID_VIEW_PERSPECTIVE,		VIRTKEY, CONTROL, NOINVERT
    "0",			ID_VIEW_ORTHO,				VIRTKEY, CONTROL, NOINVERT
 	"1",			ID_VIEW_NORMAL_LAYER,		VIRTKEY, CONTROL, ALT, NOINVERT
    "2",			ID_VIEW_LIGHT_MAP_LAYER,	VIRTKEY, CONTROL, ALT, NOINVERT
	"G",			ID_VIEW_GOTO_SELECTION,		VIRTKEY, CONTROL, NOINVERT
    "G",			ID_VIEW_GOTO_MAP_CENTER,	VIRTKEY, SHIFT, CONTROL, NOINVERT
	"3",			ID_VIEW_CLIPPING,			VIRTKEY, CONTROL, ALT, NOINVERT
	"1",			ID_VIEW_LIQUIDS,			VIRTKEY, SHIFT, CONTROL, NOINVERT
    "2",			ID_VIEW_SPOT_SCENERY,		VIRTKEY, SHIFT, CONTROL, NOINVERT
    "3",			ID_VIEW_LIGHT_SOUND_PARTICLE,VIRTKEY, SHIFT, CONTROL, NOINVERT

	"Y",			ID_MAP_RAISE_Y,				VIRTKEY, SHIFT, CONTROL, ALT, NOINVERT
    "Y",			ID_MAP_LOWER_Y,				VIRTKEY, CONTROL, ALT, NOINVERT
    "R",			ID_MAP_RUN,					VIRTKEY, CONTROL, NOINVERT

	"P",			ID_MESH_COMBINE,			VIRTKEY, CONTROL, NOINVERT
	"P",			ID_MESH_SPLIT,				VIRTKEY, SHIFT, CONTROL, NOINVERT
    "H",			ID_MESH_FLIP_X,				VIRTKEY, CONTROL, NOINVERT
    "U",			ID_MESH_FLIP_Y,				VIRTKEY, CONTROL, NOINVERT
    "V",			ID_MESH_FLIP_Z,				VIRTKEY, CONTROL, NOINVERT
	"R",			ID_MESH_ROTATE_Y,			VIRTKEY, CONTROL, ALT, NOINVERT
    "R",			ID_MESH_FREE_ROTATE,		VIRTKEY, SHIFT, CONTROL, NOINVERT
	"Y",			ID_MESH_RAISE_Y,			VIRTKEY, SHIFT, CONTROL, NOINVERT
    "Y",			ID_MESH_LOWER_Y,			VIRTKEY, CONTROL, NOINVERT
	"I",			ID_MESH_INVERT_NORMAL,		VIRTKEY, CONTROL, ALT, NOINVERT

	"T",			ID_POLYGON_ROTATE_UV,		VIRTKEY, CONTROL, NOINVERT
    "N",			ID_POLYGON_RECALC_NORMAL,	VIRTKEY, SHIFT, CONTROL, NOINVERT
    "I",			ID_POLYGON_INVERT_NORMAL,	VIRTKEY, CONTROL, NOINVERT

END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDR_MAINFRAME		ICON							"dim3Editor.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FILE_NEW DIALOGEX 100, 100, 333, 98
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Create New"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,221,77,50,14
    DEFPUSHBUTTON   "New",ID_FILE_NEW_NEW,276,77,50,14,WS_GROUP
    LTEXT           "Enter a name for your new map.",IDC_STATIC,7,7,204,9
    RTEXT           "Name:",IDC_STATIC,17,25,32,9
    EDITTEXT        IDC_FILE_NEW_NAME,54,23,229,14,ES_AUTOHSCROLL
    LTEXT           "When a map is created, the map data file is saved in the Data/Maps directory and a default course script is saved in the Data/Scripts/Courses directory.",
                    IDC_STATIC,7,44,319,21
END

IDD_FILE_OPEN DIALOGEX 100, 100, 336, 234
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Choose a File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,279,213,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,7,213,50,14
    CONTROL         "",IDC_FILE_OPEN_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | WS_BORDER | WS_TABSTOP,7,7,322,201
END

IDD_OBJ_IMPORT DIALOGEX 100, 100, 376, 102
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "OBJ Import"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Import",ID_OBJ_IMPORT_OK,319,80,50,14
    PUSHBUTTON      "Cancel",ID_OBJ_IMPORT_CANCEL,261,80,50,14
    LTEXT           "Choose how to import the OBJ:",IDC_STATIC,7,7,111,9
    COMBOBOX        IDC_OBJ_IMPORT_AXIS,73,56,48,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scale on:",IDC_STATIC,30,58,38,8,0,WS_EX_RIGHT
    LTEXT           "axis to",IDC_STATIC,128,58,23,8
    LTEXT           "dim3 units",IDC_STATIC,221,58,43,8
    EDITTEXT        IDC_OBJ_IMPORT_UNITS,154,56,62,12,ES_AUTOHSCROLL
    LTEXT           "Import Type:",IDC_STATIC,19,20,49,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_OBJ_IMPORT_TYPE,73,19,296,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           """Import New Mesh(es)"" import type scaling:",
                    IDC_STATIC,7,40,223,9
END

IDD_HEIGHT_MAP_IMPORT DIALOGEX 0, 0, 200, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Height Map Import"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_HEIGHT_MAP_IMPORT_DIVISIONS,61,7,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_HEIGHT_MAP_IMPORT_SIZE,61,23,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_HEIGHT_MAP_IMPORT_HEIGHT,61,39,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_HEIGHT_MAP_IMPORT_CANCEL,89,63,50,14
    DEFPUSHBUTTON   "Import",ID_HEIGHT_MAP_IMPORT_OK,143,63,50,14
    LTEXT           "Divisions:",IDC_STATIC,7,7,49,8,0,WS_EX_RIGHT
    LTEXT           "Size:",IDC_STATIC,7,24,49,8,0,WS_EX_RIGHT
    LTEXT           "Height:",IDC_STATIC,7,41,49,8,0,WS_EX_RIGHT
END

IDD_CREATE_GRID DIALOGEX 0, 0, 200, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Create Grid"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_CREATE_GRID_X_DIVISIONS,61,7,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_CREATE_GRID_Y_DIVISIONS,61,23,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_CREATE_GRID_Z_DIVISIONS,61,39,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_CREATE_GRID_CANCEL,89,63,50,14
    DEFPUSHBUTTON   "Create",ID_CREATE_GRID_OK,143,63,50,14
    LTEXT           "X Divisions:",IDC_STATIC,7,7,49,8,0,WS_EX_RIGHT
    LTEXT           "Y Divisions:",IDC_STATIC,7,24,49,8,0,WS_EX_RIGHT
    LTEXT           "Z Divisions:",IDC_STATIC,7,40,49,8,0,WS_EX_RIGHT
END

IDD_RESIZE DIALOGEX 0, 0, 200, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Resize"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_RESIZE_X,33,7,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_RESIZE_Y,33,23,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_RESIZE_Z,33,39,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_RESIZE_CANCEL,89,63,50,14
    DEFPUSHBUTTON   "OK",ID_RESIZE_OK,143,63,50,14
    LTEXT           "X:",IDC_STATIC,15,8,13,8,0,WS_EX_RIGHT
    LTEXT           "Y:",IDC_STATIC,14,24,14,8,0,WS_EX_RIGHT
    LTEXT           "Z:",IDC_STATIC,11,40,17,8,0,WS_EX_RIGHT
    LTEXT           "%",IDC_STATIC,102,10,13,8
    LTEXT           "%",IDC_STATIC,102,25,13,8
    LTEXT           "%",IDC_STATIC,102,40,13,8
END

IDD_FREE_ROTATE DIALOGEX 0, 0, 200, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Free Rotate"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_FREE_ROTATE_X_ROT,33,7,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_FREE_ROTATE_Y_ROT,33,23,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_FREE_ROTATE_Z_ROT,33,39,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_FREE_ROTATE_CANCEL,89,63,50,14
    DEFPUSHBUTTON   "OK",ID_FREE_ROTATE_OK,143,63,50,14
    LTEXT           "X:",IDC_STATIC,15,8,13,8,0,WS_EX_RIGHT
    LTEXT           "Y:",IDC_STATIC,14,24,14,8,0,WS_EX_RIGHT
    LTEXT           "Z:",IDC_STATIC,11,40,17,8,0,WS_EX_RIGHT
    LTEXT           "degrees",IDC_STATIC,102,10,41,8
    LTEXT           "degrees",IDC_STATIC,102,25,37,8
    LTEXT           "degrees",IDC_STATIC,102,40,40,8
END

IDD_REPOSITION DIALOGEX 0, 0, 247, 108
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Reposition"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_REPOSITION_X_TOPLEFT,43,22,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_REPOSITION_Y_TOPLEFT,43,38,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_REPOSITION_Z_TOPLEFT,43,54,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_REPOSITION_X_BOTTOMRIGHT,162,23,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_REPOSITION_Y_BOTTOMRIGHT,162,39,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_REPOSITION_Z_BOTTOMRIGHT,162,55,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_REPOSITION_CANCEL,135,87,50,14
    DEFPUSHBUTTON   "OK",ID_REPOSITION_OK,190,87,50,14
    LTEXT           "X:",IDC_STATIC,25,23,13,8,0,WS_EX_RIGHT
    LTEXT           "Y:",IDC_STATIC,24,39,14,8,0,WS_EX_RIGHT
    LTEXT           "Z:",IDC_STATIC,21,55,17,8,0,WS_EX_RIGHT
    GROUPBOX        "Top-Left",IDC_STATIC,7,7,114,74
    LTEXT           "X:",IDC_STATIC,144,23,13,8,0,WS_EX_RIGHT
    LTEXT           "Y:",IDC_STATIC,142,39,14,8,0,WS_EX_RIGHT
    LTEXT           "Z:",IDC_STATIC,140,55,17,8,0,WS_EX_RIGHT
    GROUPBOX        "Bottom-Right",IDC_STATIC,126,7,114,74
END

IDD_RESIZE_TEXTURE DIALOGEX 0, 0, 200, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Resize Current Texture"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_RESIZE_TEXTURE_U,33,7,62,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_RESIZE_TEXTURE_V,33,23,62,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Cancel",ID_RESIZE_TEXTURE_CANCEL,89,63,50,14
    DEFPUSHBUTTON   "OK",ID_RESIZE_TEXTURE_OK,143,63,50,14
    LTEXT           "U:",IDC_STATIC,15,8,13,8,0,WS_EX_RIGHT
    LTEXT           "V:",IDC_STATIC,14,24,14,8,0,WS_EX_RIGHT
    LTEXT           "%",IDC_STATIC,102,10,13,8
    LTEXT           "%",IDC_STATIC,102,25,13,8
END

IDD_PROPERTY_STRING DIALOGEX 100, 100, 292, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_PROPERTY_STRING_STRING,7,6,278,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_PROPERTY_STRING_OK,235,22,50,14,WS_GROUP
END

IDD_PROPERTY_CHORD DIALOGEX 100, 100, 292, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_PROPERTY_CHORD_X,7,6,90,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROPERTY_CHORD_Y,100,6,90,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PROPERTY_CHORD_Z,193,6,90,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",ID_PROPERTY_CHORD_OK,235,22,50,14,WS_GROUP
END
