#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "New",							100
        MENUITEM "Open...",						101
        MENUITEM "Close",						102
        MENUITEM SEPARATOR
        MENUITEM "Save",						103
        MENUITEM SEPARATOR
        MENUITEM "Exit",						104
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Undo",						200
		MENUITEM SEPARATOR
        MENUITEM "Delete",						201
        MENUITEM "Duplicate",					202
		MENUITEM SEPARATOR
        MENUITEM "Select More",					203
    END
    POPUP "View"
    BEGIN
        MENUITEM "Front",						300
        MENUITEM "Left",						301
        MENUITEM "Right",						302
        MENUITEM "Back",						303
        MENUITEM "Top",							304
        MENUITEM "Bottom",						305
		MENUITEM SEPARATOR
        MENUITEM "Perspecitve",					306
        MENUITEM "Ortho",						307
 		MENUITEM SEPARATOR
        MENUITEM "Normal UV Layer",				308
        MENUITEM "Light Map UV Layer",			309
		MENUITEM SEPARATOR
        MENUITEM "Goto Selection",				310
        MENUITEM "Goto Map Center",				311
		MENUITEM SEPARATOR
        MENUITEM "Clipping",					312
		MENUITEM SEPARATOR
        MENUITEM "Liquids",						313
        MENUITEM "Spots and Scenery",			314
        MENUITEM "Lights, Sounds and Particles",315
        MENUITEM "Nodes",						316
		MENUITEM SEPARATOR
        MENUITEM "Split Panel Horizontal",		317
        MENUITEM "Split Panel Vertical",		318
        MENUITEM "Remove Panel",				319
    END
    POPUP "Map"
    BEGIN
        MENUITEM "Add Cinema...",				400
        MENUITEM "Add Group...",				401
        MENUITEM "Add Movement...",				402
		MENUITEM SEPARATOR
        MENUITEM "Raise Y",						403
        MENUITEM "Lower Y",						404
        MENUITEM "Center",						405
		MENUITEM SEPARATOR
        MENUITEM "Reset UVs",					406
		MENUITEM SEPARATOR
        MENUITEM "Recalc Normals",				407
		MENUITEM SEPARATOR
        MENUITEM "Clear Light Maps",			408
        MENUITEM "Build Light Maps...",			409
		MENUITEM SEPARATOR
        MENUITEM "Run...",						410
    END
    POPUP "Mesh"
    BEGIN
        MENUITEM "Combine",						500
        MENUITEM "Split",						501
        MENUITEM "Tesselate",					502
		MENUITEM SEPARATOR
        MENUITEM "Resize...",					503
        MENUITEM "Reposition...",				504
		MENUITEM SEPARATOR
        MENUITEM "Flip X",						506
        MENUITEM "Flip Y",						507
        MENUITEM "Flip Z",						508
		MENUITEM SEPARATOR
        MENUITEM "Rotate X",					509
        MENUITEM "Rotate Y",					510
        MENUITEM "Rotate Z",					511
        MENUITEM "Free Rotate...",				512
		MENUITEM SEPARATOR
        MENUITEM "Raise Y",						513
        MENUITEM "Lower Y",						514
		MENUITEM SEPARATOR
        MENUITEM "Select All Polygons",			515
 		MENUITEM SEPARATOR
        MENUITEM "Snap Mesh To Grid",			516
        MENUITEM "Snap Mesh To Closest Vertex",	517
 		MENUITEM SEPARATOR
        MENUITEM "Reset Mesh UVs",				518
        MENUITEM "Whole Mesh UVs",				519
        MENUITEM "Single Stamp Mesh UVs",		520
		MENUITEM SEPARATOR
        MENUITEM "Recalc Normals",				521
        MENUITEM "Invert Normals",				522
   END
    POPUP "Polygon"
    BEGIN
        MENUITEM "Punch Middle Hole",			600
		MENUITEM SEPARATOR
        MENUITEM "Snap Polygon To Grid",		601
 		MENUITEM SEPARATOR
        MENUITEM "Rotate Polygon UVs",			602
        MENUITEM "Flip Us",						603
        MENUITEM "Flip Vs",						604
 		MENUITEM SEPARATOR
        MENUITEM "Invert Normals",				605
 		MENUITEM SEPARATOR
        MENUITEM "Reset Polygon UVs",			606
        MENUITEM "Whole Polygon UVs",			607
        MENUITEM "Single Stamp Polygon UVs",	608
    END
    POPUP "Vertex"
    BEGIN
        MENUITEM "Snap All Vertexes To Grid",	700
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_MAINFRAME ACCELERATORS 
BEGIN
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FILE_NEW DIALOGEX 100, 100, 333, 98
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Create New"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,221,77,50,14
    DEFPUSHBUTTON   "New",ID_FILE_NEW_NEW,276,77,50,14,WS_GROUP
    LTEXT           "Enter a name for your new map.",IDC_STATIC,7,7,204,9
    RTEXT           "Name:",IDC_STATIC,17,25,32,9
    EDITTEXT        IDC_FILE_NEW_NAME,54,23,229,14,ES_AUTOHSCROLL
    LTEXT           "When a map is created, the map data file is saved in the Data/Maps directory and a default course script is saved in the Data/Scripts/Courses directory.",
                    IDC_STATIC,7,44,319,21
END

IDD_FILE_OPEN DIALOGEX 100, 100, 336, 234
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Choose a File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,279,213,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,7,213,50,14
    CONTROL         "",IDC_FILE_OPEN_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | WS_BORDER | WS_TABSTOP,7,7,322,201
END

IDD_OBJ_IMPORT DIALOGEX 100, 100, 376, 102
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "OBJ Import"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Import",ID_OBJ_IMPORT_OK,319,80,50,14
    PUSHBUTTON      "Cancel",ID_OBJ_IMPORT_CANCEL,261,80,50,14
    LTEXT           "Choose how to import the OBJ:",IDC_STATIC,7,7,111,9
    COMBOBOX        IDC_OBJ_IMPORT_AXIS,73,56,48,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scale on:",IDC_STATIC,30,58,38,8,0,WS_EX_RIGHT
    LTEXT           "axis to",IDC_STATIC,128,58,23,8
    LTEXT           "dim3 units",IDC_STATIC,221,58,43,8
    EDITTEXT        IDC_OBJ_IMPORT_UNITS,154,56,62,12,ES_AUTOHSCROLL
    LTEXT           "Import Type:",IDC_STATIC,19,20,49,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_OBJ_IMPORT_TYPE,73,19,296,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           """Import New Mesh(es)"" import type scaling:",
                    IDC_STATIC,7,40,223,9
END

IDD_PROPERTY_LIST DIALOGEX 100, 100, 292, 286
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Pick a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "None",ID_PROPERTY_LIST_NONE,7,265,50,14
	LISTBOX         IDC_PROPERTY_LIST_LIST,7,7,278,254,LBS_NOINTEGRALHEIGHT | LBS_HASSTRINGS | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",ID_PROPERTY_LIST_OK,235,265,50,14,WS_GROUP
END

IDD_PROPERTY_STRING DIALOGEX 100, 100, 292, 59
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Enter a Value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",ID_PROPERTY_STRING_OK,235,38,50,14,WS_GROUP
    EDITTEXT        IDC_PROPERTY_STRING_STRING,7,6,278,12,ES_AUTOHSCROLL
    LTEXT           "",IDC_PROPERTY_STRING_DESCRIPTION,7,25,278,10
END
